#contactus{
    background-color: rgb(34, 34, 34);
}
#topbar1{
    background-color: rgb(51, 51, 51);
    height: 50px;
}
a:link{
    text-decoration: none;
}
#aboutusimg{
    height: 600px;
}
#synthetic{
    width: 100%;
    height: 500px;
}
#centeredabout{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:aliceblue;
    font-family: 'Bruno Ace SC', cursive;
    font-size: 121px;
}
#description{
    margin-top: 50px;
    padding-top: 3%;
    padding-bottom: 2%;
    background-color: whitesmoke;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 50px;
}
#photo_track{
    width: 500px;
    height: 200px;
    
    border: 1px;
    border-radius: 4%;
}
#photo_ground{
    width: 500px;
    border: 1px;
    border-radius: 4%;
}
#photo_boyz{
    width: 500px;
    border: 1px;
    border-radius: 4%;
}
#photo_thpp{
    width: 500px;
    border: 1px;
    border-radius: 4%;
}
#msg{
    width: 500px;
    border: 2px;
    border-radius: 4%;
}
#admin_msg{
    font-size: 22px;
}
#mcbc{
    border: 2px;
    background-color: darkcyan;
    color: whitesmoke;
    padding-top: 10px;
    padding-bottom: 10px;
}
#abt{
    background-color: rgb(51, 51, 51);
}
#teambro{
    background-color: rgb(51, 51, 51);
}
@import url(//fonts.googleapis.com/css?family=Montserrat:300,400,500);
.team2 {
  font-family: "Montserrat", sans-serif;
  color: #8d97ad;
  font-weight: 300;
}

.team2 h1,
.team2 h2,
.team2 h3,
.team2 h4,
.team2 h5,
.team2 h6 {
  color: #3e4555;
}

.team2 h5 {
	line-height: 22px;
  font-size: 18px;
}

.team2 .font-weight-medium {
  font-weight: 500;
}

.team2 .subtitle {
  color: #8d97ad;
  line-height: 24px;
	font-size: 13px;
}

.team2 .pro-pic {
  min-height: 200px;
}

.team2 .pro-pic .card-img-overlay {
  background: rgba(26, 139, 243, 0.87);
  display: none;
}

.team2 .pro-pic .card-img-overlay ul {
  top: 50%;
}

.team2 .pro-pic .card-img-overlay ul li a {
  -webkit-transition: 0.1s ease-in;
  -o-transition: 0.1s ease-in;
  transition: 0.1s ease-in;
}

.team2 .pro-pic .card-img-overlay ul li a:hover {
  -webkit-transform: translate3d(0px, -5px, 0px);
  transform: translate3d(0px, -5px, 0px);
}

.team2 .pro-pic:hover .card-img-overlay {
  display: block;
}